@media (max-width:1140px) {
.slider .arrow{
    display: none;
}
}
@media (max-width:950px){
   .col3{
    flex-basis: 50%;

   }
    .col-4{
        flex-basis: 50%;
    }
    .header-section.large .title{
        font-size: 5rem;
    }
}

@media (max-width:850px){
    .hero-section .hero-content p{
        font-size: 2rem;}
 
    .hero-section .hero-content h1{
        font-size:4rem;
    }
    .blog:before{
        left:0;
        
        transform:rotate(0deg) ;
     
        width: 100%;
      
     
    }
  .col-6{
    flex-basis: 100%;
  }}
  @media (max-width:800px){
  
}

@media (max-width:600px){
    .hero-section .button{
        width: 100%;
    }
    .col-3{
        flex-basis: 50%;
    
       }
    .col-4{
        flex-basis: 50%;
    }
}
